.auth-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #ffffff30, #ffffff30), url('./assets/dashboard-bg.png') no-repeat center center fixed;
    background-size: cover;
}

.login-container {
    display: flex;
    width: fit-content;
    height: fit-content;
    min-width: 370px;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: transparent;
    border-radius: 1.9rem;
}

.login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 1rem;
    border-radius: 2rem;
}

.logo-image{
    position: fixed;
    top: -1.7rem;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ease;
    background: #395b27ed;
    padding: 0.6rem 1.4rem;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
}
.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 1.7rem;
    border: 2px solid #ffffff40;
    padding-bottom: 1rem;
    padding: 2.5rem 1.5rem 1rem 1.5rem;
    backdrop-filter: blur(10px);
    background: radial-gradient(circle at top left,#2cdf7015,#ffffff05);
}

.top h2 {
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 500;
    opacity: 0.6;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 1.7rem;
    border: 2px solid #ffffff40;
    padding-bottom: 1rem;
    padding: 1.5rem;
    backdrop-filter: blur(10px);
    background: radial-gradient(circle at top left,#2cdf7015,#ffffff05);
}

.bottom form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.7rem;
    width: 100%;
}

.input-group label {
    color: #ffffffd1;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 0.2rem 0.5rem;
    border-radius: 6px;
}

.input-group input {
    width: 100%;
    padding: 0.5rem 0.8rem;
    border-radius: 0.7rem;
    border: none;
    background: #ffffff28;
    color: #fff;
    transition: all 0.3s ease-in-out;
    letter-spacing: 0.5px;
    min-height: 40px;
}

.input-group input::placeholder {
    color: #ffffff90;
}
.input-group input:focus {
    outline: none;
    box-shadow:0 0 4px 0.5px #bdd0c6;
}

.bottom form{
    position: relative;
}
.login-btn {
    width: 100%;
    height: fit-content;
    border-radius: 0.7rem;
    border: none;
    background: #395b27ed;
    color: #ffffff;
    letter-spacing: 1px;
    padding: 0.7rem 1rem;
    margin-top: 0.7rem;
    font-weight: 500;
    cursor: pointer;
    min-height: 45px;
    transition: all 0.5s ease;
}

.login-btn:hover {
    box-shadow: 0 0 8px 1px #42c04449;
}

.alt-login-text {
    width: 100%;
    margin: 0.2rem 0 0;
    text-align: center;
    color: #ffffffc2;
    font-size: 0.9rem;
    letter-spacing: 0.4px;
}

.alt-login-text a {
    color: #a4ff80;
    text-decoration: none;
    font-weight: 600;
}

.alt-login-text a:hover {
    text-decoration: underline;
}

.top img {
    width: 210px;
    height: auto;
    object-fit: cover;
}

.top .separator-img{
    width: 100%;
    max-width: 350px;
    opacity: 0.8;
}